<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= page.title %> - Campo UI</title>
    <link rel="stylesheet" href="/material-ui.css">
    <link rel="stylesheet" href="/theme.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="display-flex">
      <input type="checkbox" id="drawer-toggle" class="navigation-drawer-toggle">
      <div id="navigation-drawer" class="navigation-drawer flex-shrink-0">
        <div class="navigation-drawer__container">
          <div class="headline-medium margin-x-2 padding-x-3 padding-y-2">
            Material UI
          </div>

          <a href="/" class="navigation-drawer__item <%= page.path == 'index.html' ? 'navigation-drawer__item--active' : '' %>">
            Home
          </a>

          <% ['introduction', 'installation', 'typography', 'color', 'examples'].forEach(function(name) { %>
            <% itemPath = name + '.html'  %>
            <a href="/<%= itemPath %>" class="navigation-drawer__item <%= page.path == itemPath ? 'navigation-drawer__item--active' : '' %>">
              <%= name.split('-').map(term => term[0].toUpperCase() + term.slice(1)).join(' ') %>
            </a>
          <% }); %>

          <details <%= page.path.startsWith('components') ? 'open' : '' %> >
            <summary class="navigation-drawer__item">
              <div class="navigation-drawer__item__label">
                Components
              </div>
              <div class="navigation-drawer__item__icon">
                <span class="material-icons">expand_more</span>
              </div>
            </summary>
            <div class="padding-left-3">
              <% ['top-app-bar', 'button', 'card', 'checkbox', 'chip', 'dialog', 'dropdown', 'navigation-drawer', 'navigation-bar', 'navigation-rail', 'tab', 'table', 'text-field', 'radio', 'switch', 'snackbar', 'side-sheet'].forEach(function(name) { %>
                <% itemPath = 'components/' + name + '.html'  %>
                <a href="/<%= itemPath %>" class="navigation-drawer__item <%= page.path == itemPath ? 'navigation-drawer__item--active' : '' %>">
                  <%= name.split('-').map(term => term[0].toUpperCase() + term.slice(1)).join(' ') %>
                </a>
              <% }); %>
            </div>
          </details>
          <details <%= page.path.startsWith('utilities') ? 'open' : '' %> >
            <summary class="navigation-drawer__item">
              <div class="navigation-drawer__item__label">
                Utitlties
              </div>
              <div class="navigation-drawer__item__icon">
                <span class="material-icons">expand_more</span>
              </div>
            </summary>
            <div class="padding-left-3">
              <% ['display', 'background', 'border', 'flex', 'overflow', 'position', 'shadow', 'spacing', 'sizing', 'text', 'vertical-align'].forEach(function(name) { %>
                <% itemPath = 'utilities/' + name + '.html'  %>
                <a href="/<%= itemPath %>" class="navigation-drawer__item <%= page.path == itemPath ? 'navigation-drawer__item--active' : '' %>">
                  <%= name.split('-').map(term => term[0].toUpperCase() + term.slice(1)).join(' ') %>
                </a>
              <% }); %>
            </div>
          </details>
        </div>
        <label for="drawer-toggle" class="navigation-drawer__scrim"></label>
      </div>

      <div class="flex-grow-1 min-width-0">
        <div class="top-app-bar top-app-bar--sticky-top display-none@tablet">
          <div class="top-app-bar__action">
            <label for="drawer-toggle" class="button button--icon">
              <span class="material-icons">menu</span>
            </label>
          </div>
          <div class="top-app-bar__title">
            <%= page.title %>
          </div>
        </div>

        <div class="padding-3">
          <%- page.content %>
        </div>
      </div>
    </div>
  </body>
</html>
